.panel-container {
  position: absolute;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 15px;
  background: rgba(15, 14, 14, 0.71);
  box-sizing: border-box;
  resize: both;
  min-height: 130px;
  min-width: 250px;
  height: 120px;
}
